.gradient {
  height: 100%;
  max-width: 782px;
  width: 100%;
  background-color: red;
  background-image:
    radial-gradient(
      circle at top right,
      yellow,
      #f06d06 50%
    );
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#weather div {
  font-size: 24px;
  margin: 0 auto;
}

#weather span {
  display: block;
  margin-top: 25px;
  font-weight: bold;
}

.weather-icon {
  margin: 0 auto;
  padding: 0;
  width: 15%;
  height: auto;
}

#out {
  font-weight: bold;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}